

<div>
    <ul>
        <li><a class="nav-link" asp-controller="Customers" asp-action="CreateCustomer">Create Customer</a></li>
        <li><a class="nav-link" asp-controller="Customers" asp-action="UpdateCustomer">Update Customer</a></li>
        <li><a class="nav-link" asp-controller="Customers" asp-action="DeleteCustomer">Delete Customer</a></li>
    </ul>
</div>

<div>
    <ul>
        <li><a class="nav-link" asp-controller="Products" asp-action="CreateProduct">Create Product</a></li>
        <li><a class="nav-link" asp-controller="Products" asp-action="UpdateProduct">Update Product</a></li>
        <li><a class="nav-link" asp-controller="Products" asp-action="DeleteProduct">Delete Product</a></li>
    </ul>
</div>